name: Trabajo Practico 1

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código fuente
      uses: actions/checkout@v2

    - name: Configurar Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18.16.0  # Mi versión de Node.js con la que se ha creado el proyecto

    - name: Instalar dependencias
      run: npm install  # Instalar dependencias

    - name: Archive artifacts
      uses: actions/upload-artifact@v2 # Compilar la aplicación
      with:
        name: build
        path: build
        
    - name: Ejecutar pruebas unitarias
      run: npm run test  # Ejecutar pruebas unitarias al componente react native